.songlist {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1000px;
    height: 720px;
    overflow-y: scroll;

    .title {
        margin: 16px 0;
        font-size: 12px;
    }

    ul {
        list-style: none;

        .song-item-container {
            margin-bottom: 15px;
        }

        li {
            display: flex;
            position: relative;
            width: 860px;

            border-radius: 15px;
            background-color: #3F4049;

            .delete-song-btn {
                position: absolute;
                right: -6px;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 30px;
                height: 30px;
                margin: 5px;
                margin-right: 10px;

                border-radius: 10px;
                background-color: #EB7745;
                transition: background-color .1s ease-in-out;

                &:hover {
                    background-color: #2FA072;
                }


            }

            .play-text {
                h3 {
                    display: flex;
                    align-items: center;

                    padding-top: 7px;
                    margin-bottom: 6px;

                    font-size: 12px;
                }

                a {
                    visibility: hidden;

                    p {
                        display: flex;
                        align-items: center;

                        transition: color .1s ease-in-out;
                    }

                    &:hover p {
                        color: #2FA072;
                    }
                }

                .author-open {
                    visibility: visible;
                }

                p {
                    font-size: 10px;
                }
            }

            .play-line-block {
                display: none;
                width: 620px;
                height: 10px;
            }

            .play-line-block-open {
                display: block;
            }

            .play-line-progress-bar {
                position: absolute;
                top: 10px;
                left: 190px;
                height: 10px;
                border-radius: 1px;
                background-color: #EB7745;

                z-index: 10;
            }

            .play-line {
                position: absolute;
                appearance: none;
                top: 10px;
                left: 190px;

                width: 620px;
                height: 10px;
                margin: 0;
                border-radius: 1px;
                color: #333;
                background-color: #333;
            }

            .play-line::-webkit-slider-thumb {
                appearance: none;
            }
        }

        li:last-child {
            margin-bottom: 0;
        }
    }
}